.main {
  & .img_titulo {
    background-image: url(../../public/banner-home.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9db79;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    

    & h1 {
      font-size: 6.25rem;
      text-align: center;
      color: #ffffff;

      text-shadow: 3px 5px 2px #474747;
    }
  }

  & .cards_texto {
    width: 100%;

    & .img_texto {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    & .imagem {
      width: 50%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      & .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & .texto {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 50%;
      padding: 100px 50px;
      text-align: center;

      & h2 {
        font-size: 36px;
      }

      & span {
        font-size: 20px;
      }

      & p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 768px) {
  .cards_texto {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .img_texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .imagem, .texto {
    width: 100% !important; /* Força a largura total */
    max-width: 100%; /* Evita que algum valor fixo de largura interfira */
  }

  .img_titulo h1 {
    width: 100%;
    font-size: 3.33rem !important;
  }

  #nossos_eventos {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 376px) {
  .img_titulo h1 {
    font-size: 3.33rem !important;
  }
}